html {
    height: 100vh;
    background: linear-gradient(90deg,violet,  pink, white);
    font-family: cursive;
    text-align: center;
    font-size: 24px;
}

#text-input {
    height: 2.5em;
    width: 80%;
    background: transparent;
    border: none;
    font-size: 22px;
    text-align: center;
    border-radius: 30px;
}

#text-input:hover {
    background: linear-gradient(120deg, grey, ghostwhite, black);
    color: green;
}

#check-btn {
    height: 7vh;
    width: 50%;
    font-weight: 550;
    font-size: 22px;
    border-radius: 20px;
    border: 2px groove red;
}

#check-btn:hover {
    background: radial-gradient(maroon, pink)
}

fieldset {
    border: none;
    margin: 20px;
}

.output {
    background-color: lightgreen;
    color: blue;
    margin: auto;
    display: none;
    border-radius: 100%;
}